/* Основные стили для контейнера */
body, html {
  height: 100%;
  margin: 0;

}

body {
	font-family: 'Nunito', sans-serif;
	background-image: url("/static/images/container/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	backdrop-filter: blur(3px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.form-signin {
  max-width: 400px; /* Желаемая максимальная ширина формы */
  width: 100%; /* Чтобы форма занимала всю доступную ширину, но не больше максимальной */
  padding: 20px; /* Добавим отступы для красоты */
  box-sizing: border-box; /* Чтобы отступы не увеличивали общую ширину формы */
  background-color: #ffffff; /* Цвет фона формы */
}

.mobile-form {
    max-width: 100%; /* Устанавливаем максимальную ширину формы */
    padding: 200px; /* Добавляем отступы */
}

