body {
    font-family: 'Nunito', sans-serif;
    background-image: url("/static/images/container/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    margin: 0; /* Убираем стандартные отступы */
    height: 100vh; /* Устанавливаем высоту на 100% видимой части экрана */
    display: flex; /* Используем Flexbox */
    align-items: center; /* Центрируем содержимое по вертикали */
    justify-content: center; /* Центрируем содержимое по горизонтали */
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень для карточки */
    border-radius: 10px; /* Скругленные углы карточки */
}

/* Базовые стили для .container-xl */
.container {
    min-width: 700px !important;
    max-width: 700px; /* Установим максимальную ширину контейнера */
    width: 100%; /* Контейнер занимает всю ширину до максимума */
    transition: transform 0.3s ease-in-out; /* Плавный переход эффекта масштабирования */
    transform-origin: center center;
}

/* Медиазапрос для устройств с максимальной шириной 980px */
@media (max-width: 980px) {
    .container {
        min-width: 100% !important; /* Контейнер занимает 100% ширины экрана */
        max-width: 100%; /* Отменяем предыдущее ограничение ширины */
    }
    html, body {
        height: auto; /* Сброс фиксированной высоты на автоматическую */
        min-height: 100vh; /* Минимальная высота на 100% видимой части экрана */
    }
    .form-control {

    }
}
