body {
	font-family: 'Nunito', sans-serif;
	background-image: url("/static/images/container/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	backdrop-filter: blur(3px);
}

.calculator-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.cart-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#cart-table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 5px;
}

thead th {
    background-color: #007bff;
    color: white;
    text-align: center;
}

tbody td {
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child {
    border-bottom: none;
}