body {
	background-color: #f8f9fa;
}

.navbar-custom {
	background-color: #343a40;
}

.navbar-custom .navbar-brand {
	color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
	color: #ffffff;
}

    @media (max-width: 767px) {
      .custom-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
      }
    }


