body {
	font-family: 'Nunito', sans-serif;
	background-image: url("/static/images/container/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	backdrop-filter: blur(3px);
}

.img-height {
	height: 445px;
	object-fit: cover;
	transition: transform 0.45s ease;
}

.img-height.zoomed {
	transform: scale(1.55);
}

.custom-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 110px;
	z-index: 1000;
}

.changing-text-container {
    position: relative;
    height: 5em; /* Высота контейнера для текста */
    overflow: hidden;
}

.changing-text-container p {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.changing-text-container p.show {
    opacity: 1;
}

.about-text {
    text-align: justify;
}

.montserrat-alternates-medium {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.montserrat-alternates-extrabold {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.montserrat-alternates-black {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

  @media (max-width: 768px) {
    .container {
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    .container-fluid {
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
