{% extends 'base_template.html' %}

<!--- Импорты сайта --->
{% block imports %}

	{%- block common_imports %}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	{%- endblock %}

	{%- block index_imports %}
	<link href="{{ url_for('static', filename='css/index_stylesheet.css') }}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/index_scripts.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dynamic-containers.js') }}"></script>
	{%- endblock %}

{% endblock %}

<!--- Контент сайта --->
{% block content %}

	<!--- Шапка сайта --->
	<div class="custom-container container bg-white sticky-top md-1 mb-5 rounded border-bottom shadow">
		<header class="d-flex flex-wrap justify-content-around mb-1 bg-white bg-opacity-25">
			<a href="" class="d-flex align-items-center ms-5 link-body-emphasis text-decoration-none ">
				<p class="montserrat-alternates-extrabold fs-1 m-0 me-5">ЮГ-ТАРА</p>
			</a>
			<ul class="nav d-flex flex-wrap justify-content-evenly">
				<li class="nav-item"><a id="companyButton" href="" class="montserrat-alternates-medium nav-link my-3 text-black fs-5">Компания</a></li>
				<li class="nav-item"><a id="tapeButton" href="" class="montserrat-alternates-medium nav-link my-3 text-black fs-5">Скотч</a></li>
				<li class="nav-item"><a id="designsButton" href="" class="montserrat-alternates-medium nav-link my-3 text-black fs-5">Этикетка</a></li>
				<li class="nav-item"><a id="" href="{{ url_for('dashboard') }}" class="montserrat-alternates-medium nav-link my-3 text-black fs-5">Личный кабинет</a></li>
			</ul>
		</header>
	</div>

	<!-- Заставка -->
	<div class="custom-container container rounded text-body-emphasis bg-white bg-opacity-75 shadow md-5 rounded text-white p-md-5 mb-5">
		<h1 class="montserrat-alternates-bold">«ЮГ-ТАРА»</h1>
		<div class="custom-container container changing-text-container p-md-5">
			<p class="fs-2">Более 10 лет специализируется на поставках скотча для запечатывания полипропиленовых пакетов</p>
			<p class="fs-2">Один из крупнейших импортеров двустороннего скотча производства OKER и QICHANG</p>
		</div>
	</div>

	<!--- Описание компании --->
	<div id="company-section" class="custom-container container p-md-5 rounded text-body-emphasis bg-body-secondary bg-opacity-75 shadow">
		<div class="row">
			<div class="col-lg-6 px-0">
				<p class="fs-3 fw-bold montserrat-alternates-black">О нашей компании</p>
				<p class="about-text lead my-3 mx-1 fs-5 lh-base text-wrap">Длительное время занимаясь импортом без посредников, мы гарантируем Вам низкие цены и хорошее качество продукции</p>
				<p class="about-text lead my-3 mx-1 fs-5 lh-base text-wrap">Наша компания более 10 лет специализируется на поставках скотча для запечатывания полиэтиленовых пакетов типа ОРР или РР. Компания является одним из крупнейших импортеров двустороннего скотча производства OKER и QICHANG</p>
				<p class="about-text lead my-3 mx-1 fs-5 lh-base text-wrap">В разделе «Скотч» Вы можете ознакомиться с предлагаемым ассортиментом скотча и его техническими характеристиками</p>
				<p class="about-text lead my-3 mx-1 fs-5 lh-base text-wrap">ООО «ЮГ-ТАРА» предлагает Вашему вниманию термоусадочную этикетку для украшения пасхальных яиц. Этикетка изготовлена с использованием ротогравюрной печати, что обеспечивает яркость красок и четкость линий. Дизайны пасхальной этикетки представлены в разделе «Этикетка»</p>
			</div>
			<div class="d-flex col-lg-6"> <img src="{{ url_for('static', filename='images/container/about_company.jpg') }}" class="img-fluid rounded shadow" alt="bg3"> </div>
		</div>
	</div>

	<!--- Виды скотча --->
	<div class="custom-container container p-md-5 mt-5 mb-4 rounded text-body-emphasis bg-body-secondary bg-opacity-75 shadow">
		<div class="row">
			<!-- Sticky Оглавление слева -->
			<div class="col-md-4">
				<div class="custom-container container-fluid custom-sticky bg-white bg-opacity-75 border border-2 rounded shadow-sm">
					<ul class="nav flex-column">
						<li class="nav-item font-monospace text-decoration-underline"><a id="tape_type_1" class="nav-link fs-4 text-dark mb-3 mt-3" href="">Клапанный скотч</a></li>
						<li class="nav-item font-monospace"><a id="tape_100_LPA" class="nav-link text-dark fs-5 mb-3" href="">LP-A100</a></li>
						<li class="nav-item font-monospace"><a id="tape_150_LPA" class="nav-link text-dark fs-5 mb-3" href="">LP-A150</a></li>
						<li class="nav-item font-monospace"><a id="tape_180_LPA" class="nav-link text-dark fs-5 mb-3" href="">LP-A180</a></li>
						<li class="nav-item font-monospace text-decoration-underline"><a id="tape_type_2" class="nav-link fs-4 text-dark mb-3" href="">Пермаментный скотч</a></li>
						<li class="nav-item font-monospace"><a id="tape_12_HC" class="nav-link text-dark fs-5 mb-3" href="#section4 text-dark">HC-12</a></li>
					</ul>
				</div>
			</div>
			<!-- Блоки текста справа -->
			<div class="col-md-8 ">
				<div class="custom-container container section">
					<h3 id="tape_type_1_section" class="fw-bold fs-2">Клапанный скотч LP-A100</h3>
					<p><strong>Применение:</strong></p>
					<ul class="list">
						<li>для запечатывания полиэтиленовых пакетов типа OPP или РР.</li>
						<li>многократного использования (без клеевого остатка).</li>
						<li>не реагирует химически с содержанием пакетов.</li>
					</ul>
					<p><strong>Технические данные:</strong></p>
					<ul class="list">
						<li>Основной материал: ПЭ пленка с силиконовым покрытием: HDPE 9mm</li>
						<li>ширина покрытия клеевого слоя: PET 4.5mm</li>
						<li>общая толщина: 63-68 мкм</li>
						<li>адгезия: 13g/mm</li>
						<li>цвет пленки: прозрачный или с печатью</li>
						<li>намотка: правая или левая</li>
						<li>упаковка: 20 рулонов по 1000м</li>
						<li>хранение при температуре от 0 C до +20 С в сухом месте.</li>
					</ul>
				</div>
				<div class="custom-container container section">
					<h3 id="tape_LP-A150" class="fw-bold fs-2">Клапанный скотч LP-A150</h3>
					<p><strong>Применение:</strong></p>
					<ul class="list">
						<li>для запечатывания полиэтиленовых пакетов типа OPP или РР ,PE (материал).</li>
						<li>многократного использования (без клеевого остатка).</li>
						<li>не реагирует химически с содержанием пакетов.</li>
					</ul>
					<p><strong>Технические данные:</strong></p>
					<ul class="list">
						<li>Основной материал: ПЭ пленка с силиконовым покрытием: HDPE 13 мм</li>
						<li>ширина покрытия клеевого слоя: PET 6mm</li>
						<li>общая толщина: 73 мкм</li>
						<li>адгезия: 17g/mm</li>
						<li>цвет пленки: прозрачный или с печатью</li>
						<li>намотка: правая или левая</li>
						<li>упаковка: 20 рулонов по 1000м</li>
						<li>хранение при температуре от 0 C до +20 С в сухом месте.</li>
					</ul>
				</div>
				<div class="custom-container container section">
					<h3 id="tape_LP-A180" class="fw-bold fs-2">Клапанный скотч LP-A180</h3>
					<p><strong>Применение:</strong></p>
					<ul class="list">
						<li>для запечатывания полиэтиленовых пакетов типа OPP или РР ,PE (материал).</li>
						<li>многократного использования (без клеевого остатка).</li>
						<li>не реагирует химически с содержанием пакетов.</li>
					</ul>
					<p><strong>Технические данные:</strong></p>
					<ul class="list">
						<li>Основной материал: ПЭ пленка с силиконовым покрытием: HDPE 17,5 mm</li>
						<li>ширина покрытия клеевого слоя: PET 10mm</li>
						<li>общая толщина: 73 мкм</li>
						<li>адгезия: 17g/mm</li>
						<li>цвет пленки: прозрачный или с печатью</li>
						<li>упаковка: 10 рулонов по 1000м</li>
						<li>хранение при температуре от 0 C до +20 С в сухом месте.</li>
					</ul>
				</div>
				<div class="custom-container container section">
					<h3 id="tape_type_2_section" class="fw-bold fs-2">Перманентный скотч HС-12</h3>
					<p><strong>Применение:</strong></p>
					<ul class="list">
						<li>Неядовитый, безопасный, холодоустойчивый. Не хранить/использовать при высокой температуре.</li>
						<li>Одноразового использования, применяется для запечатывания конфиденциальных пакетов.</li>
					</ul>
					<p><strong>Технические данные:</strong></p>
					<ul class="list">
						<li>Основной материал: ПЭ пленка с силиконовым покрытием: PAPE 12 mm</li>
						<li>ширина покрытия клеевого слоя: PET 10mm/ 6 mm</li>
						<li>общая толщина: 200 мкм</li>
						<li>адгезив: акрил</li>
						<li>цвет пленки: белый</li>
						<li>упаковка: 10 рулонов по 500м</li>
						<li>хранение при температуре от 0 C до +20 С в сухом месте.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--- Дизайны упаковок --->
	<div class="custom-container container p-md-5 mb-4 mt-5 rounded text-body-emphasis bg-body-secondary bg-opacity-75 shadow">
		<p class="fs-3 px-0 montserrat-alternates-medium">Дизайны термоусадочной пасхальной этикетки</p>
		<div class="row row-cols-7 mb-3 d-flex justify-content-between" id="designs-section">
			<div class="col"> <img src="{{ url_for('static', filename='images/designs/design-1.png') }}" class="img-fluid img-height rounded shadow px-0" alt="design-1"> </div>
			<div class="col"> <img src="{{ url_for('static', filename='images/designs/design-2.png') }}" class="img-fluid img-height rounded shadow px-0" alt="design-2"> </div>
			<div class="col"> <img src="{{ url_for('static', filename='images/designs/design-3.png') }}" class="img-fluid img-height rounded shadow px-0" alt="design-3"> </div>
			<div class="col"> <img src="{{ url_for('static', filename='images/designs/design-4.png') }}" class="img-fluid img-height rounded shadow px-0" alt="design-4"> </div>
			<div class="col"> <img src="{{ url_for('static', filename='images/designs/design-5.png') }}" class="img-fluid img-height rounded shadow px-0" alt="design-5"> </div>
			<div class="col"> <img src="{{ url_for('static', filename='images/designs/design-6.png') }}" class="img-fluid img-height rounded" alt="design-6"> </div>
			<div class="col"> <img src="{{ url_for('static', filename='images/designs/design-7.png') }}" class="img-fluid img-height rounded" alt="design-7"> </div>
		</div>
	</div>

	<!-- Блок с предложением перейти в калькулятор стоимости -->
	<div class="custom-container container p-md-5 mt-5 mb-4 rounded text-body-emphasis bg-body-secondary bg-opacity-75 shadow">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="fs-2 montserrat-alternates-bold">Рассчитайте стоимость вашего заказа</h3>
				<p class="fs-5">Используйте наш удобный калькулятор стоимости, чтобы узнать цену на необходимую продукцию и доставку.</p>
				<a href="{{ url_for('price_calc') }}" class="btn btn-primary btn-lg mt-3">Перейти к калькулятору стоимости</a>
			</div>
		</div>
	</div>

	<!--- Подвал сайта --->
	<div class="custom-container container sticky-bot py-3 mt-5 rounded bg-white shadow">
		<footer class="d-flex flex-wrap justify-content-between" id="contacts-section">
			<div class="custom-col col-md-3">
				<p class="montserrat-alternates-extrabold fs-2 text-body-secondary mb-0">ЮГ-ТАРА</p>
				<p class="text-body-secondary mb-0">&copy; 2009–2024</p>
			</div>
			<ul class="custom-col nav col-md-2">
				<li class="nav-item">
					<p class="nav-link text-body-secondary mb-1">uk-tara@yandex.ru</p>
				</li>
				<li class="nav-item">
					<p class="nav-link text-body-secondary mb-1">141009, <br>Московская область, <br> Мытищи, Колонцова 5</p>
				</li>
			</ul>
			<ul class="custom-col nav col-md-2">
				<li class="nav-item">
					<p class="nav-link text-body-secondary mb-1">8 (495) 588-79-81</p>
				</li>
				<li class="nav-item">
					<p class="nav-link text-body-secondary mb-1">8 (903) 176-70-22</p>
				</li>
				<li class="nav-item">
					<p class="nav-link text-body-secondary mb-1">8 (903) 287-18-41</p>
				</li>
				<li class="nav-item">
					<p class="nav-link text-body-secondary mb-1">8 (903) 178-16-93</p>
				</li>
			</ul>
			<ul class="custom-col nav col-md-2">
				<li class="nav-item">
					<p class="nav-link text-body-secondary fs-6 mb-1">ОГРН 1095029000175</p>
				</li>
				<li class="nav-item">
					<p class="nav-link text-body-secondary text-center fs-6 mb-1">ИНН 5029122650</p>
				</li>
				<li class="nav-item">
					<p class="nav-link text-body-secondary text-center fs-6 mb-1">КПП 502901001</p>
				</li>
				<li class="nav-item">
					<p class="nav-link text-body-secondary fs-6 mb-1">ОКПО 88883256</p>
				</li>
			</ul>
		</footer>
	</div>

{% endblock %}